<div class="student">
 <div class="student-contents">
     <div class="student-img-container">
    <img class="student-photo-img" src="{{photo}}" />
  </div>
    <div class="student-info-container">
              <a href="#" class="student name">{{name}},</a> <br><span class="student-age">{{age}}</span></span> <span href="#" class="student-major">{{major}}</span><br/>
            </div>
        <br><a href="#" class="student-bio">{{bio}}</a><br/>
       <div class="pdf-container">
    <embed src="{{pdf}}" width="500" height="375"  type='application/pdf'>
    </embed>
  </div>
