<section class="student-data">
    <div class="student-info-container">
              <a href="#" class="student name">{{name}},</a> <span class="student-age">{{age}}</span></span> <span class="student-city">({{city}})</span>
            </div>
       <div class="student-major-container">
   <a href="#" class="student-major">{{major}}</a>
   </div>
     <div class="img-container">
    <img class="student-photo-img" src="{{photo}}" />
  </div>
</section>