<div class="student-data">
    <div class="student-info-container">
              <a href="#" class="student name">{{name}},</a> <span class="student-age">{{age}}</span></span> <br><span href="#" class="student-major">{{major}}</span><br/>
            </div>
       <div class="student-bio-container">
   <br><a href="#" class="student-bio">{{bio}}</a><br/>
   </div>
     <div class="img-container">
    <img class="student-photo-img" src="{{photo}}" />
  </div>
       <div class="pdf-container">
    <embed src="{{pdf}}"  type='application/pdf'>
  </div>
