<section class="student">
    <div class="student-contents">
              <a href="#" class="student-name">{{name}}</a> <span class="student-age">Age:{{age}}</span></span> <span class="student-city">({{city}})</span>
                 <br><a href="#" class="student-major">{{major}}</a><br/>
            </div>
     <div class="student-img-container">
    <img class="student-photo-img" src="{{photo}}" />
  </div>
</section>
