 <div class="student">
    <div class="student-contents">
     <div class="student-img-container">
         <img class="student-photo-img" src="{{photo}}" />
         </div>
               <div class = "student-info-container">
               <a href="#" class="student-name">{{name}}</a> <br><span class="student-age">Age:{{age}},</span> <span class="student-city">({{city}})</span><br/>
                 <br><a href="#" class="student-major">{{major}}</a><br/>
            </div>
            </div>
  </div>
