<div class="student">
 <div class="student-contents">
     <div class="student-img-container">
    <img class="student-photo-img" src="{{photo}}">
  </div>
    <div class="student-info-container">
              <span href="#" class="student-name">{{name}}</span> <br><span class="student-age">{{age}}</span> <span href="#" class="student-major">{{major}}</span>
        <br><span class="student-bio">{{bio}}</span>
                    </div>
       <div class="pdf-container">
   <a href="{{resume}}" class="resume">My Resume</a>
        </div>
  </div>
    </div>
